<?xml version="1.0" encoding="UTF-8"?>
{% import '_ubl_parties.xml.j2' as ubl with context %}
<Invoice xmlns="urn:oasis:names:specification:ubl:schema:xsd:Invoice-2"
         xmlns:cac="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"
         xmlns:cbc="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2">
    <cbc:CustomizationID>urn:cen.eu:en16931:2017#compliant#urn:fdc:peppol.eu:2017:poacc:billing:3.0</cbc:CustomizationID>
    <cbc:ProfileID>urn:fdc:peppol.eu:2017:poacc:billing:01:1.0</cbc:ProfileID>
    <cbc:ID>{{ invoice.number }}</cbc:ID>
    <cbc:IssueDate>{{ invoice.issue_date }}</cbc:IssueDate>
    <cbc:DueDate>{{ invoice.due_date if invoice.due_date else invoice.issue_date }}</cbc:DueDate>
    <cbc:InvoiceTypeCode>380</cbc:InvoiceTypeCode>
    <cbc:DocumentCurrencyCode>{{ totals.currency }}</cbc:DocumentCurrencyCode>
{{ ubl.supplier() }}
{{ ubl.customer() }}
{{ ubl.tax_and_totals() }}
    {% for line in invoice.lines %}
    <cac:InvoiceLine>
        <cbc:ID>{{ loop.index }}</cbc:ID>
        <cbc:InvoicedQuantity unitCode="C62">{{ line.quantity }}</cbc:InvoicedQuantity>
{{ ubl.line_body(line) }}
    </cac:InvoiceLine>
    {% endfor %}
</Invoice>
